// vars
$background: #f6f6f6;
$white: #ffffff;
$blue: #33c1e3;
$black: #000000;
$red: #C92A38;


// layout
@import "_misc/normalize";
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/adjustment";

// styles
@import "sections/first";
@import "sections/product";
@import "sections/action";
@import "sections/slider";
@import "sections/advantages";
@import "sections/gallery";
@import "sections/price";
@import "sections/callback";
@import "sections/stock";
@import "sections/question";
@import "sections/contact";

@import "sections/footer";



 